<div class="columns">

  <div class="column">
    <h2 class="title is-2">Top 10 Books</h2>
    <ol class="ml-5">
      <% @books.each do |book| %>
        <li>
          <%= link_to book.title, book %>
          <em>(<%=  book.publisher.name %>)</em>
        </li>
      <% end %>
    </ol>
    <p class="mt-5">
      <strong><%= link_to '👉 Top 140 BOOKS', books_path %></strong>
    </p>
  </div>

  <div class="column">
  <h2 class="title is-2">Top 10 Publishers</h2>
    <ol class="ml-5">
      <%= render @publishers %>
    </ol>
    <p class="mt-5">
      <strong><%= link_to '👉 Top Publishers', publishers_path%></strong>
    </p>
  </div>

</div>